body{
		background-color: grey;
}

.h1{
		text-align: center;

}

label{
		display: inline-block;
		float: left;
		clear: left;
		width: 250px;
		text-align: right;
}

input{
		display: inline-block;
		float: left;
}

.submit{
		color: white;
		background-color: blue;
}