body{
	background-color: #FFFFFF;
}

h1{
	text-align: center;
}



label{
	display: inline-block;
	float: left;
	clear: left;
	width: 200px;
	text-align: right;
}

input{
	display: inline-block;
	float: ;
}


.submit{
	color: white;
	background-color: blue;
	width : 120px;
	buttonAlign: 'right';
}

form{
	background-color: #CCCCCC;
	margin: 0 auto; 
	width:500px;
	border-radius:20px;
}


