body{
	background-color: #CCCCCC;
}

h1{
	text-align: center;
}



label{
	display: inline-block;
	float: left;
	clear: left;
	width: 200px;
	text-align: right;
}

input{
	display: inline-block;
	float: left;
}


.submit{
	color: white;
	background-color: blue;
	width : 120px;
}

form{
	margin: 0 auto; 
	width:500px;
}